
API_KEY=XXXXXvav4XXJXoXpDXxxxxxxx
AUTH_DOMAIN=firebase-base-app-name.firebaseapp.com
PROJECT_ID=firebase-base-app-name
STORAGE_BUCKET=firebase-base-app-name.appspot.com
MESSAGING_SENDER_ID=some-id-in-number
APP_ID=1:12345678:web:12345568909876

AUTH0_SECRET='use [openssl rand -hex 32] to generate a 32 bytes value'
AUTH0_BASE_URL='http://localhost:3000'
AUTH0_ISSUER_BASE_URL='https://www.----.com'
AUTH0_CLIENT_ID='-------------'
AUTH0_CLIENT_SECRET='-------------------------'